body{
    background-color: #333;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.liked{
    background-color: #ff0000;
    color: white;
}

#likeButton{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* background-color: #333; */
    /* color: white; */
}
